[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
python-chess = "*"
h5py = "*"
boto3 = "*"
b2sdk = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
